$darkCyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$veryDarkBlue: hsl(212, 21%, 14%);
$darkGrayishBlue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: $cream;
	font-size: 62.5%;
}

.box {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 60vw;
	max-width: 800px;
	height: 80vh;
	max-height: 700px;
	background-color: $white;
	border-radius: 15px;
	overflow: hidden;
	&__hero-img {
		height: 50%;
		width: 100%;
		background-image: url(../images/image-product-mobile.jpg);
		background-size: cover;
		background-position: center;
	}
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1em;
	height: 50%;
	&__text {
		padding: 1em;
		.heading-two {
			text-transform: uppercase;
			color: $darkGrayishBlue;
			font-family: 'Montserrat', sans-serif;
			font-size: 1rem;
			font-weight: 500;
		}
		.heading-one {
			margin-bottom: 5%;
			font-family: 'Fraunces', serif;
			font-size: 1.2rem;
		}
		.description {
			color: $darkGrayishBlue;
			line-height: 150%;
			font-family: 'Montserrat', sans-serif;
			font-size: 0.6rem;
		}
	}
	&__price {
		margin: 1em 0;
		align-items: center;
		&-promo {
			color: $darkCyan;
			font-family: 'Fraunces', serif;
			font-size: 1.3rem;
		}
		&-normal {
			margin-left: 10%;
			color: $darkGrayishBlue;
			font-size: 1rem;
			text-decoration: line-through;
		}
	}
	&__button {
		padding: 1em 2em;
		width: 80%;
		max-width: 300px;
		background-color: $darkCyan;
		border: none;
		border-radius: 10px;
		span {
			margin-left: 5%;
			color: $white;
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
		}
	}
}

.attribution {
	margin-top: 15px;
	max-width: 80%;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

//MEDIA QUERIES

@media (min-width: 768px) {
	.wrapper {
		padding-bottom: 3em;
	}
	.wrapper__text .heading-two {
		margin-top: 1em;
		font-size: 1.3rem;
	}
	.wrapper__text .heading-one {
		font-size: 1.5rem;
	}
	.wrapper__text .description {
		font-size: 1rem;
	}
	.wrapper__button {
		font-size: 1.2rem;
	}
	.wrapper__price-promo {
		font-size: 2rem;
	}
	.wrapper__price-normal {
		font-size: 1.5rem;
	}
}

@media (min-width: 922px) {
	.box {
		flex-direction: row;
		width: 70vw;
		height: 60vh;
	}
	.box__hero-img {
		width: 50%;
		height: 100%;
		background-image: url(../images/image-product-desktop.jpg);
	}
	.wrapper__text .heading-two {
		margin-bottom: 1em;
		font-size: 2.5rem;
	}
	.wrapper__text .heading-one {
		margin-bottom: 1em;
		font-size: 3.5em;
	}
	.wrapper__text .description {
		font-size: 1.3rem;
	}
	.wrapper__price-promo {
		font-size: 2.3rem;
	}
	.wrapper__price-normal {
		font: size 1.8rem;
	}
	.wrapper {
		width: 50%;
	}
	.wrapper__button {
		margin-top: 1em;
		&:hover {
			background-color: rgb(20, 73, 20);
			cursor: pointer;
		}
	}
}
